{
"name"              :  {"val" : "DEC","comm" :  "наименование валюты (по умолчанию DEC)"},
"symbol"            :  {"val" : "Đ"  ,"comm" :  "символ валюты (по умолчанию Đ, [хранится Unicode:U+0110])"},
"total_sum"         :  {"val" : 8589869056, "comm"    :  "сумма-выпускаемых токенов(по умолчанию 8589869056)"},
"admin_pub_key"     :  {"val" : "123456","comm" :  "Публичный ключ администратора, подпись которого требуется для проведения других операций с разрешением"},
"wait_to_date"      :  {"val" : 123456,"comm" :  "дата, начиная с которой возможно распределение средств (см. ниже)"},
"granularity"       :  {"val" : 7,     "comm"  :  "минимальная  доля (копейка), после которой происходит округление (по умолчанию 10-4)"},
"passkey"           :  {"val" : "passkey","comm"      :  "фраза для доступа к изменяемым функциям(см. ниже)"},
"link"              :  {"val" : "http://dgt-matagami/dec-info","comm"         :  "URL с объяснением модели DEC (будет обеспечено позже"},
"nоminal"           :  {"val" : 0.8,"comm"      :  "начальная (номинальная цена токена), по умолчанию [0.8 USD]"},
"nоminal_name"      :  {"val" : "USD","comm" :  "валюта номинала по умолчанию USD"}, 
"сorporate_account" :  {"val" : "12345","comm" :  "счет корпорации DGT, на который могут перечисляться токены в соответствии с суммой сorporate_share"},
"minting_share"     :  {"val" : 80.0,"comm":  "доля токенов, зарезервированная для минтинга (по умолчанию –80%"},
"сorporate_share"   :  {"val" : 10.0,"comm" :  "процент выпущенных токенов, который идет на счет корпорации"},
"mint_param"        :  {"val" : {"Umax" : 10, "B2" : 1, "T1" : 1},"comm" :  "{Umax, 𝛽2, 𝜏1} -набор коэффициентов, определяющих формулу заработка узла в обмен на его показатели SLA (печать)–см. формулу (26) модели3"},
"nBurn"             :  {"val" : 3  ,"comm"        :  "количество раз команды Burn, которая позволяет “сжигать” токены. По умолчанию nBurn= 3"},
"fee"               :  {"val" : 1.0,"comm"      :  "комиссия на транзакции с DEC (по умолчанию 1%)–также может быть изменена"}
}
